@import "tailwindcss";
.dark-antd-table .ant-table-thead > tr > th {
  background-color: #282828; /* Màu nền header */
  color: #b3b3b3; /* Màu chữ header */
  border-bottom: 1px solid #333; /* Đường kẻ dưới header */
}

.dark-antd-table .ant-table-tbody > tr {
  background-color: #181818; /* Màu nền các hàng */
}

.dark-antd-table .ant-table-tbody > tr:hover {
  background-color: rgba(39, 39, 39, 0.858); /* Màu trắng với opacity 8% */
}

.dark-antd-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #282828; /* Đường kẻ dưới các ô */
}

.dark-antd-table .ant-table-tbody > tr:last-child > td {
  border-bottom: none; /* Loại bỏ border ở hàng cuối */
}
